@model IEnumerable<nqostatsweb.Models.Players>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
<br/>
<br />
<br />
<br />
<div class="row-fluid">
    <div class="span4"><div class="well"><h4>Recent Matches</h4>
        1. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />2. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />3. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />4. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />5. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />6. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />7. @Html.DisplayNameFor(model => model.Name)
        <br />
        <br />8. @Html.DisplayNameFor(model => model.Name)
        <br />
        </div>
    </div>
    <div class="span8">
        <div class="row-fluid">
            <div class="span6">
                <div class="well"><h4>Win Streak</h4>
                    <div>
                        @await Component.InvokeAsync("TopWinStreak")
                        @*<cache expires-after="@TimeSpan.FromMinutes(10)">
                            
                            *last updated  @DateTime.Now.ToString()
                        </cache>*@
                        
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="well"><h4>Total Wins</h4>
                    <div>
                        @await Component.InvokeAsync("TopWins")
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="well"><h4>Total Quads</h4>
                    <div>
                        @await Component.InvokeAsync("TopQuads")
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="well"><h4>Total Frags</h4>
                    <div>
                        @await Component.InvokeAsync("TopFrags")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="well"><h4>Highest Avg. Efficiency</h4>
            <div>
                @await Component.InvokeAsync("TopWeaponEfficiency")
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="well"><h4>Highest Win %</h4>
            <div>
                @await Component.InvokeAsync("TopWinPercent")
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="well"><h4>Highest KDR</h4>
            <div>
                @await Component.InvokeAsync("TopKDR")
            </div>
        </div>
    </div>
</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
