@model IEnumerable<nqostatsweb.Models.MatchesViewModels.MatchTeamsViewModel>

@{
    ViewData["Title"] = "Details";
}

<h2>Team Details</h2>

@section scripts
{
    @*<script type="text/javascript">
        function cellsrenderer(row, column, value)
        {
            return "<div style=\"text-align: center; margin-top: 5px;\"><a style=\"color:black; text-decoration:none\" href=Matches/Details/" + value + ">Details</a></div>"
        }
    </script>*@

    <script type="text/javascript">
        function eventHandler(event)
        {
            var rowData = $('#grid').jqxGrid('getrowdata', event.args.rowindex);
            var value = rowData.MatchId;
            var color = rowData.TeamColor
            window.location = '/MatchPlayers/TeamPlayers?matchid='+value+'&teamColor='+color;
	    }
    </script>
}

<jqx-grid id="grid" on-rowclick="eventHandler()" alt-rows="true" theme="@ViewData["Theme"]" sortable="true" show-filter-row="false" filterable="true" auto-height="true" width="900" source="Model">
    <jqx-grid-columns>
        <jqx-grid-column hidden="true" datafield="MatchId" width="100" text="Id"></jqx-grid-column>
        <jqx-grid-column datafield="TeamColor" width="150">Team Color</jqx-grid-column>
        <jqx-grid-column datafield="TeamVerdict" width="150">Verdict </jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalFrags" width="150">Total Frags</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalQuads" width="150">Total Quads</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalPents" width="150">Total Pents</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalEyes" width="150">Total Eyes</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalRL" width="150">Total RL</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalLG" width="150">Total LG</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalGL" width="150">Match Type</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalSNG" width="150">Match Date</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalNG" width="150">Map Name</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalMH" width="150">Match Type</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalRA" width="150">Match Date</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalYA" width="150">Map Name</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalGA" width="150">Match Type</jqx-grid-column>
        <jqx-grid-column datafield="TeamPlusRLPack" width="150">Gained RLs</jqx-grid-column>
        <jqx-grid-column datafield="TeamMinusRLPack" width="150">Lost RLs</jqx-grid-column>
        <jqx-grid-column datafield="TeamControlPercentage" cells-format="p" column-type="float" width="150">Control</jqx-grid-column>
    </jqx-grid-columns>
</jqx-grid>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamVerdict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalFrags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalQuads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalPents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalEyes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalRL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalLG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalGL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalSNG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalNG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalYA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamTotalGA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamPlusRLPack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamMinusRLPack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].TeamControlPercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamColor)
                    <a asp-area="" asp-controller="MatchPlayers" asp-route-matchid="@item.MatchId" asp-route-teamColor="@item.TeamColor"asp-action="TeamPlayers">Players</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamVerdict)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalFrags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalQuads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalPents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalEyes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalRL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalLG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalGL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalSNG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalNG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalRA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalYA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotalGA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamPlusRLPack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamMinusRLPack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamControlPercentage)
                </td>
                <td>
                    <a asp-action="Index">Back to List</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@