@model IEnumerable<nqostatsweb.Models.MatchesViewModels.MatchTeamPlayerStatsViewModel>

@{
    ViewData["Title"] = "Details";
}

<h2>Team Details</h2>


<jqx-grid id="grid" alt-rows="true" theme="@ViewData["Theme"]" sortable="true" show-filter-row="false" filterable="true" auto-height="true" width="900" source="Model">
    <jqx-grid-columns>
        <jqx-grid-column hidden="true" datafield="PlayerId" width="100" text="Id"></jqx-grid-column>
        <jqx-grid-column datafield="Name" column-type="string" width="150">Name</jqx-grid-column>
        <jqx-grid-column datafield="KillEfficiency" width="150">Kill Efficiency </jqx-grid-column>
        <jqx-grid-column datafield="WeaponEfficiency" width="150">Weapon Efficiency</jqx-grid-column>
        <jqx-grid-column datafield="NumberOfQuads" width="150">Num of Quads</jqx-grid-column>
        <jqx-grid-column datafield="QuadEfficiency" width="150">Quad Efficiency</jqx-grid-column>
        <jqx-grid-column datafield="NumQuadEnemyKills" width="150">Quad Enemy Kills</jqx-grid-column>
        <jqx-grid-column datafield="NumQuadSelfKills" width="150">Quad Self Kills</jqx-grid-column>
        <jqx-grid-column datafield="NumQuadTeamKills" width="150">Quad Team Kills</jqx-grid-column>
        <jqx-grid-column datafield="NumOfFrags" width="150">Total Frags</jqx-grid-column>
        <jqx-grid-column datafield="NumOfEnemyKills" width="150">Enemy Kills</jqx-grid-column>
        <jqx-grid-column datafield="NumOfSelfKills" width="150">Self Kills</jqx-grid-column>
        <jqx-grid-column datafield="NumOfTeamKills" width="150">Team Kills</jqx-grid-column>
        <jqx-grid-column datafield="NumOfDeaths" width="150">Deaths</jqx-grid-column>
        <jqx-grid-column datafield="DroppedPaks" width="150">Dropped Paks</jqx-grid-column>
        <jqx-grid-column datafield="SelfDamage" width="150">Self Dmg</jqx-grid-column>
        <jqx-grid-column datafield="TeamDamage" width="150">Team Dmg</jqx-grid-column>
        <jqx-grid-column datafield="BulletEfficiency" width="150">SG Eff</jqx-grid-column>    
        <jqx-grid-column datafield="NailsEfficiency" cells-format="p" column-type="float" width="150">NG Eff</jqx-grid-column>    
        <jqx-grid-column datafield="RocketEfficiency" cells-format="p" column-type="float" width="150">RL Eff</jqx-grid-column>    
        <jqx-grid-column datafield="LightningEfficiency" cells-format="p" column-type="float" width="150">LG Eff</jqx-grid-column>    
        <jqx-grid-column datafield="TotalEfficiency" cells-format="p" column-type="float" width="150">Total Eff</jqx-grid-column>    
    @*<jqx-grid-column hidden="true" datafield="MatchId" width="100" text="Id"></jqx-grid-column>
        <jqx-grid-column datafield="TeamColor" width="150">Team Color</jqx-grid-column>
        <jqx-grid-column datafield="TeamVerdict" width="150">Verdict </jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalFrags" width="150">Total Frags</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalQuads" width="150">Total Quads</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalPents" width="150">Total Pents</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalEyes" width="150">Total Eyes</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalRL" width="150">Total RL</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalLG" width="150">Total LG</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalGL" width="150">Match Type</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalSNG" width="150">Match Date</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalNG" width="150">Map Name</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalMH" width="150">Match Type</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalRA" width="150">Match Date</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalYA" width="150">Map Name</jqx-grid-column>
        <jqx-grid-column datafield="TeamTotalGA" width="150">Match Type</jqx-grid-column>
        <jqx-grid-column datafield="TeamPlusRLPack" width="150">Gained RLs</jqx-grid-column>
        <jqx-grid-column datafield="TeamMinusRLPack" width="150">Lost RLs</jqx-grid-column>
        <jqx-grid-column datafield="TeamControlPercentage" cells-format="p" column-type="float" width="150">Control</jqx-grid-column>*@
    </jqx-grid-columns>
</jqx-grid>


@*@model IEnumerable<nqostatsweb.Models.MatchPlayerStats>

@{
    ViewData["Title"] = "TeamPlayers";
}

<h2>TeamPlayers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BulletEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DroppedPaks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KillEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightningEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NailsEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfDeaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfEnemyKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfFrags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfSelfKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfTeamKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumQuadEnemyKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumQuadSelfKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumQuadTeamKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfQuads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuadEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RocketEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponEfficiency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BulletEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DroppedPaks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KillEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightningEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NailsEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfDeaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfEnemyKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfFrags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfSelfKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfTeamKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumQuadEnemyKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumQuadSelfKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumQuadTeamKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuadEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RocketEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponEfficiency)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>*@
